<div *ngIf="customer | async as customer" class="w-full flex-col justify-center shadow-md rounded-lg p-4 mt-6 h-full bg-white">
  <div class="flex w-full py-2 mb-2 border-b">
    <span class="text-medium font-bold">Contracts</span>
  </div>
  <div class="hide-scroll flex-col w-full h-64 overflow-auto">
    <ul>
      <li *ngFor="let contract of customer.data.contracts; trackBy: trackBy"
        class="cursor-pointer hover:bg-gray-100 border-b sm:p-2"
        (click)="showPackages(contract, contract.packages)">
          <div class="flex items-center space-x-6">
            <!-- <div class="flex-shrink-0">
                <img class="w-10 h-10 rounded-full" src="../../../assets/images/img.jpg" alt="Neil image">
            </div> -->
            <div class="inline-flex items-center text-base font-semibold text-gray-900">
              <fa-icon class="text-xl" [icon]="['far', 'file']"></fa-icon>
            </div>
            <div class="flex-1 min-w-0">
                <p class="text-sm font-semibold text-gray-900 truncate">
                  {{ contract.contractType }}
                </p>
                <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                  {{ contract.contractName }}, {{ contract.contractNumber }}
                </p>
            </div>
          </div>
      </li>
    </ul>
    <div *ngIf="!customer.data.contracts.length" class="m-auto">
      <span class="text-medium font-bold">No Contracts Found!</span>
    </div>
  </div>
</div>

<app-contract-packages [contract]="contract" [packages]="packages"></app-contract-packages>
