<div *ngIf="packages" class="w-full flex-col justify-center shadow-md rounded-lg p-4 mt-6 h-full bg-white">
  <div class="flex w-full mb-2 py-2 border-b">
    <span class="text-medium font-bold">Packages - {{ contract.contractName }}, {{ contract.contractNumber }}</span>
  </div>
  <div *ngIf="packages && packages.length" class="hide-scroll flex-col w-full h-32 overflow-auto">
    <ul *ngIf="packages.length" class="mt-2">
      <li *ngFor="let package of packages"
        class="hover:bg-gray-100 border-b sm:p-2">
          <div class="flex items-center">
            <div class="flex justify-between w-full gap-10">
                <span class="flex-1 text-sm font-semibold text-gray-900 truncate">
                  {{ package.name }}
                </span>
                <span class="flex-1 text-sm font-medium text-gray-500">
                  {{ package.packageType }}
                </span>
                <span class="flex-1 text-sm font-medium text-gray-500">
                  {{ package.usage }} / {{ package.amount }}
                </span>
            </div>
          </div>
      </li>
    </ul>
  </div>
  <div *ngIf="packages && !packages.length" class="m-auto mt-10">
    <span class="text-medium font-bold">No Packages Found</span>
  </div>
</div>